<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>
<h3>Random Number:</h3>
<div id="rand">{{num}}</div>

<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
<script>
    $( document ).ready(function() {
    window.setInterval(function(){
  $.ajax({
        url: '/ajax/',
        dataType: 'json',
        success: function (data) {
          $('#rand').html(data.num)
        }
      });
}, 5000);

});
</script>
</body>
</html>